$def with (context)

<div id="header">
  <div id="header-inner">
    <div id="nav">
    $:macro.mobile_nav(context)
    </div>

        <div id="content">

            <div id="page_header">
              <strong>$_("Search points")</strong>
            </div>
            <hr />

            <div class="input-wrapper">

              <form id="form1" name="form1" method="get" action="$mobile_links.point_list">
                <label><span class="input_field_label">$_("Search terms")</span>
                <input name="search" class="textfield_full" type="text" value="" /></label><br />
                <label><input type="submit" name="button" class="button_full" value="$_('search')" /></label>
              </form>
            </div>

        </div>

    <div id="nav2" class="group">
    $:macro.mobile_nav(context)
    </div>
  </div>
</div>
