$def with (context, topic, point, form_action)

$if acl.authorize.add_comment(topic, point):
    <a name="comment_form"><br /></a>
    <form class="comment_form" id="point_comment_form" action="$form_action" method="post" enctype="multipart/form-data">
    $:context.addcomment_form.render()
    <div class="submit">
        <button type="submit">$_("Submit")</button>
    </div>
    </form>
$else:
    <a name="comment_form"><br /></a>
    <p class="comment_login">$_("Please, login at least as guest to add comments here:") <a href="${pc_links.login}">$_("log in")</a></p>
