$def with (context, user, presets)

$:macro.header_desktop(context, 1, 1)

	$:macro.header_user(user, level=1, link=1)

		<div id="container">
            
            	<div id="main_one_col">
                
                	<div id="page_header">
                    	<h1>$context.title</h1>
                    </div>

                    <form class="user_loc" action="" method="post">
                    <fieldset>
                        <legend>\
                        $if presets.form_title:
                            $presets.form_title
                        $else:
                            $:_('Set/update user's location'):
                        </legend>
                        $:macro.location_setter(context, _("Location:"), context.form_params)
                    </fieldset>
                    </form>

                    <form class="user_loc" id="input_location" action="$context.form_action" method="post">
                    <fieldset>
                        <div class="submit">
                            <input type="hidden" name="op" style="display:none;" value="create" />
                            <input type="hidden" id="lon" name="lon" style="display:none;" value="$presets.repr_lon" />
                            <input type="hidden" id="lat" name="lat" style="display:none;" value="$presets.repr_lat" />
                            <input type="hidden" id="zoom" name="zoom" style="display:none;" value="$presets.zoom" />
                            <button type="submit">$_("set location")</button>
                        </div>
                    </fieldset>
                    </form>

                    <form class="user_loc" id="forget_location" action="$context.form_action" method="post">
                    <fieldset>
                        <div class="submit">
                            <input type="hidden" name="op" style="display:none;" value="forget" />
                            <input type="hidden" id="lon" name="lon" style="display:none;" value="$presets.lon" />
                            <input type="hidden" id="lat" name="lat" style="display:none;" value="$presets.lat" />
                            <input type="hidden" id="zoom" name="zoom" style="display:none;" value="$presets.zoom" />
                            <button type="submit">$_("forget location")</button>
                        </div>
                    </fieldset>
                    </form>
                    
                </div>
            
        </div>